body{
  background-color: rgb(197, 197, 197);
  color:rgb(11, 14, 9);
}

#nav-link{
  color:rgb(23, 26, 34);
}

#navbar{
  background-color:rgb(177,177,248) ;
  color:rgb(138, 141, 138);
}

#logo{
  font-family: 'Libre Baskerville', serif;
  margin: auto;
  padding: 10px;
  text-align: center;
}

#card-body{
  color:rgb(138, 141, 138);
}

#object-title{
  color:rgb(138, 141, 138);
  text-decoration: none;
}

#object-title a{
  color:rgb(138, 141, 138);
  text-decoration: none;
}

#footer{
  font-size: 30px;
  text-decoration: none;
  color:black;
}

#footer i{
  color:black;
}